<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Appointment</title>
  </head>
  <body>
    <div>
        <div>
            <H1>BOOKING APPOINTMENT APP</H1>
        </div>
        <form method="post" >
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="phone">Phone</label>
            <input type="tel" name="phone" id="phone">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <button type="submit">Add User</button>
        </form>
        <ul></ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
